<a href="https://colab.research.google.com/github/ngTienPhat/CoderschoolProblemSet/blob/master/NguyenTienPhat_Team_1_Chocolate_Bar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Team 1 - Chocolate Bar

![](https://img.newatlas.com/cocoa-tree-domestication-chocolate-1.jpg?auto=format%2Ccompress&ch=Width%2CDPR&fit=crop&h=347&q=60&rect=0%2C18%2C1620%2C911&w=616&s=2c0f902d21b734d77c99fd13171fb979)

_For more information about the dataset, read [here](https://www.kaggle.com/rtatman/chocolate-bar-ratings)._

## Your tasks
- Name your team!
- Read the source and do some quick research to understand more about the dataset and its topic
- Clean the data
- Perform Exploratory Data Analysis on the dataset
- Analyze the data more deeply and extract insights
- Visualize your analysis on Google Data Studio
- Present your works in front of the class and guests next Monday

## Submission Guide
- Create a Github repository for your project
- Upload the dataset (.csv file) and the Jupyter Notebook to your Github repository. In the Jupyter Notebook, **include the link to your Google Data Studio report**.
- Submit your works through this [Google Form](https://forms.gle/oxtXpGfS8JapVj3V8).

## Tips for Data Cleaning, Manipulation & Visualization
- Here are some of our tips for Data Cleaning, Manipulation & Visualization. [Click here](https://hackmd.io/cBNV7E6TT2WMliQC-GTw1A)

_____________________________

## Some Hints for This Dataset:
- There are lots of poorly labeled data in `Broad Bean Origin` column.
- There are some rows in `Broad Bean Origin` with multiple values, those values will create errors in our data. 
- How can we get rid of the `%` sign in `Cocoa Percent` column?
- And more...

#My solution

##Get data

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# Start your codes here!

In [0]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [0]:
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DevC-CoderSchool-2019/chocolate.csv')

In [70]:
data.head(2)

  Company \n(Maker-if known)  ... Broad Bean\nOrigin
0                   A. Morin  ...           Sao Tome
1                   A. Morin  ...               Togo

[2 rows x 9 columns]

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
Company
(Maker-if known)           1795 non-null object
Specific Bean Origin
or Bar Name    1795 non-null object
REF                                 1795 non-null int64
Review
Date                         1795 non-null int64
Cocoa
Percent                       1795 non-null object
Company
Location                    1795 non-null object
Rating                              1795 non-null float64
Bean
Type                           1794 non-null object
Broad Bean
Origin                   1794 non-null object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [72]:
data.describe()

               REF  Review\nDate       Rating
count  1795.000000   1795.000000  1795.000000
mean   1035.904735   2012.325348     3.185933
std     552.886365      2.927210     0.478062
min       5.000000   2006.000000     1.000000
25%     576.000000   2010.000000     2.875000
50%    1069.000000   2013.000000     3.250000
75%    1502.000000   2015.000000     3.500000
max    1952.000000   2017.000000     5.000000

In [73]:
data.isnull().sum()

Company \n(Maker-if known)           0
Specific Bean Origin\nor Bar Name    0
REF                                  0
Review\nDate                         0
Cocoa\nPercent                       0
Company\nLocation                    0
Rating                               0
Bean\nType                           1
Broad Bean\nOrigin                   1
dtype: int64

In [0]:
df = data.copy()

###Change columns name

In [0]:
new_col_names=['company', 'bean_origin', 'ref', 'review_date', 'cocoa_percent', 'company_location', 'rating', 'bean_type', 'broad_bean_origin']
cur_col_names = data.columns.values.tolist()
corr_change_name = {cur_name:new_name for cur_name, new_name in zip(cur_col_names, new_col_names)}
df.rename(columns=corr_change_name, inplace=True)

In [203]:
df.columns

Index(['company', 'bean_origin', 'ref', 'review_date', 'cocoa_percent',
       'company_location', 'rating', 'bean_type', 'broad_bean_origin'],
      dtype='object')

##cast cocoa_percent to float

In [204]:
df.head(2)

    company  bean_origin   ref  ...  rating bean_type broad_bean_origin
0  A. Morin  Agua Grande  1876  ...    3.75                    Sao Tome
1  A. Morin        Kpime  1676  ...    2.75                        Togo

[2 rows x 9 columns]

In [0]:
def percent_text_to_float(text):
  text.strip()
  text = text.split('%')[0]
  text = float(float(text)/100)
  return text

In [0]:
df.cocoa_percent = df.cocoa_percent.apply(percent_text_to_float)

##clean broad_bean_origin column

In [207]:
df.broad_bean_origin.unique()

array(['Sao Tome', 'Togo', 'Peru', 'Venezuela', 'Cuba', 'Panama',
       'Madagascar', 'Brazil', 'Ecuador', 'Colombia', 'Burma',
       'Papua New Guinea', 'Bolivia', 'Fiji', 'Mexico', 'Indonesia',
       'Trinidad', 'Vietnam', 'Nicaragua', 'Tanzania',
       'Dominican Republic', 'Ghana', 'Belize', '\xa0', 'Jamaica',
       'Grenada', 'Guatemala', 'Honduras', 'Costa Rica',
       'Domincan Republic', 'Haiti', 'Congo', 'Philippines', 'Malaysia',
       'Dominican Rep., Bali', 'Venez,Africa,Brasil,Peru,Mex', 'Gabon',
       'Ivory Coast', 'Carribean', 'Sri Lanka', 'Puerto Rico', 'Uganda',
       'Martinique', 'Sao Tome & Principe', 'Vanuatu', 'Australia',
       'Liberia', 'Ecuador, Costa Rica', 'West Africa', 'Hawaii',
       'St. Lucia', 'Cost Rica, Ven', 'Peru, Madagascar',
       'Venezuela, Trinidad', 'Trinidad, Tobago',
       'Ven, Trinidad, Ecuador', 'South America, Africa', 'India',
       'Africa, Carribean, C. Am.', 'Tobago', 'Ven., Indonesia, Ecuad.',
       'Trinidad-Tobago', 'Peru, Ecuador, Venezuela',
       'Venezuela, Dom. Rep.', 'Colombia, Ecuador', 'Solomon Islands',
       'Nigeria', 'Peru, Belize', 'Peru, Mad., Dom. Rep.', nan,
       'PNG, Vanuatu, Mad', 'El Salvador', 'South America', 'Samoa',
       'Ghana, Domin. Rep', 'Trinidad, Ecuador', 'Cameroon',
       'Venezuela, Java', 'Venezuela/ Ghana', 'Venezuela, Ghana',
       'Indonesia, Ghana', 'Peru(SMartin,Pangoa,nacional)', 'Principe',
       'Central and S. America', 'Ven., Trinidad, Mad.',
       'Carribean(DR/Jam/Tri)', 'Ghana & Madagascar',
       'Ven.,Ecu.,Peru,Nic.', 'Madagascar & Ecuador',
       'Guat., D.R., Peru, Mad., PNG', 'Peru, Dom. Rep',
       'Dom. Rep., Madagascar', 'Gre., PNG, Haw., Haiti, Mad',
       'Mad., Java, PNG', 'Ven, Bolivia, D.R.', 'DR, Ecuador, Peru',
       'Suriname', 'Peru, Ecuador', 'Ecuador, Mad., PNG',
       'Ghana, Panama, Ecuador', 'Venezuela, Carribean'], dtype=object)

In [0]:
import re
short_names= {
    #'(D(\.|om|ominican)\.\s?R(\.|ep))':'Dominican Republic',
    '(D\.R\.)|(Dom\.\sRep\.?)|(Dominican\sRep\.)|(Domin\.\sRep)':'Dominican Republic',
    '(Ecuad\.)|(Ecu\.,)':'Ecuador',
    '(,Mex)':',Mexico',
    '(\sVen\.?)':'Venezula',
    '(\s?Mad\.?,)':' Madagascar,',
    '(\sMad^a)':' Madagascar',
    '(S\.\sAmerica)':'South America',
    '(Haw\.?,)':'Hawaii',
    '(Venez,)|(Ven\.,)':'(Venezuela,)'
}
#    'D\.R\.':'Dominic Republic'

def unshort_name(text):
  res=text
  for short_form, full_form in short_names.items():
    res = re.sub(short_form, full_form, res)
  return res

In [0]:
broad_bean_origin = df.broad_bean_origin.values#.tolist()
res = [unshort_name(str(a)) for a in broad_bean_origin]
df.broad_bean_origin = res

In [210]:
df.broad_bean_origin.unique()

array(['Sao Tome', 'Togo', 'Peru', 'Venezuela', 'Cuba', 'Panama',
       'Madagascar', 'Brazil', 'Ecuador', 'Colombia', 'Burma',
       'Papua New Guinea', 'Bolivia', 'Fiji', 'Mexico', 'Indonesia',
       'Trinidad', 'Vietnam', 'Nicaragua', 'Tanzania',
       'Dominican Republic', 'Ghana', 'Belize', '\xa0', 'Jamaica',
       'Grenada', 'Guatemala', 'Honduras', 'Costa Rica',
       'Domincan Republic', 'Haiti', 'Congo', 'Philippines', 'Malaysia',
       'Dominican Republic, Bali',
       '(Venezuela,)Africa,Brasil,Peru,Mexico', 'Gabon', 'Ivory Coast',
       'Carribean', 'Sri Lanka', 'Puerto Rico', 'Uganda', 'Martinique',
       'Sao Tome & Principe', 'Vanuatu', 'Australia', 'Liberia',
       'Ecuador, Costa Rica', 'West Africa', 'Hawaii', 'St. Lucia',
       'Cost Rica,Venezula', 'Peru, Madagascar', 'Venezuela, Trinidad',
       'Trinidad, Tobago', 'Ven, Trinidad, Ecuador',
       'South America, Africa', 'India', 'Africa, Carribean, C. Am.',
       'Tobago', '(Venezuela,) Indonesia, Ecuador', 'Trinidad-Tobago',
       'Peru, Ecuador,Venezulaezuela', 'Venezuela, Dominican Republic',
       'Colombia, Ecuador', 'Solomon Islands', 'Nigeria', 'Peru, Belize',
       'Peru, Madagascar, Dominican Republic', 'nan', 'PNG, Vanuatu, Mad',
       'El Salvador', 'South America', 'Samoa',
       'Ghana, Dominican Republic', 'Trinidad, Ecuador', 'Cameroon',
       'Venezuela, Java', 'Venezuela/ Ghana', 'Venezuela, Ghana',
       'Indonesia, Ghana', 'Peru(SMartin,Pangoa,nacional)', 'Principe',
       'Central and South America', '(Venezuela,) Trinidad, Mad.',
       'Carribean(DR/Jam/Tri)', 'Ghana & Madagascar',
       '(Venezuela,)EcuadorPeru,Nic.', 'Madagascar & Ecuador',
       'Guat., Dominican Republic, Peru, Madagascar, PNG',
       'Peru, Dominican Republic', 'Dominican Republic, Madagascar',
       'Gre., PNG, Hawaii Haiti, Mad', ' Madagascar, Java, PNG',
       'Ven, Bolivia, Dominican Republic', 'DR, Ecuador, Peru',
       'Suriname', 'Peru, Ecuador', 'Ecuador, Madagascar, PNG',
       'Ghana, Panama, Ecuador', 'Venezuela, Carribean'], dtype=object)